<%=form_tag posts_path(@post) do%>
  <label>Title: </label><br>
  <%= text_area_tag :title%><br>
  <label>Description: </label><br>
  <%= text_area_tag :description%><br>
  <%submit_tag "Submit Post"%>
<%end%>
